body{
    background-image:url(../img/nightlife_new.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.loader{
    display: none;
}
.footer {
    text-align: center;
    position: relative;
    padding-top: 50px;
    margin-top: 150px;
    color: #fff;
}
.header{
    font-family: 'Gloria Hallelujah', cursive;
    color:#fff;
    font-size:30px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    padding:10px;
}
.form-search{
    position: relative;
    margin-top: 250px;
}
.box-header .box-title{
    font-size: 14px;
}
.navbar-text {
    margin-left: 15px;
}